body {
    margin: 0% 15%;
    background-color: #273549;
}

.container {
    display: flex;
    justify-content: space-around;
}

.wrapper {
	font-size: 8vmin;
	height: 2em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	mix-blend-mode: screen;
	
	span {
		--color: #ffba11;
		font-family: Impact, 'Anton', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-weight: 700;
		font-style: italic;
		display: block;
		position: absolute;
		color: var(--color);
		letter-spacing: -.005em;

		&::before, &::after {
			content: attr(data-text);
			display: block;
			position: relative;
			padding: 0 .1em;
			z-index: 1;
		}

		&::before {
			position: absolute;
			-webkit-text-stroke: .1em black;
			z-index: 0;
		}

		&:first-child {
			transform: translate(-.255em, -.25em);
		}

		&:last-child {
			--color: cyan;
			transform: translate(.750em, .35em);
		}
	}
}

.title {
    text-align: center;
    font-size: 72px;
    font-family: sans-serif;
    font-weight: 600;
    color: #273549;
    -webkit-text-stroke: 2px white;
}

.score {
    font-size: 100px;
    font-family: Impact;
    text-align: center;
    color: lightcoral;
    background-color: black;
    width: 240px;
    height: 120px;
    border-radius: 10px;
}

.vertical-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    font-size: 34px;
    color: white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: darkcyan;
}

#displayMessage {
    color: white;
    text-align: center;
}

.newGameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.newGameButton {
    padding: 10px 20px;
}