body {
    margin: 5% 15%;
    background-color: #273549;
}

.container {
    display: flex;
    justify-content: space-around;
}

.title {
    text-align: center;
    font-size: 72px;
    font-family: sans-serif;
    font-weight: 600;
    color: #273549;
    -webkit-text-stroke: 2px white;
}

.score {
    font-size: 100px;
    text-align: center;
    color: lightcoral;
    background-color: black;
    width: 240px;
    height: 120px;
    border-radius: 10px;
}

.vertical-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    font-size: 34px;
    color: white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: darkcyan;
}

#displayMessage {
    color: white;
    text-align: center;
}

.newGameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.newGameButton {
    padding: 10px 20px;
}